h1{
	-webkit-hyphens: none;
	color: #444444;
	font-family: "Baskerville";
	font-size: 150.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
h2{
	-webkit-hyphens: none;
	color: #444444;
	font-family: "Baskerville SemiBold";
	font-size: 112.5000%;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 1.7094%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
p{
	margin: 0px;
}
sub{
	font-size: 67%;
	vertical-align: -10%;
}
sup{
	font-size: 67%;
	vertical-align: 33%;
}
.s1{
	-webkit-hyphens: none;
	color: #232323;
	font-family: "Baskerville";
	font-size: 87.5000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-indent: 0.0000%;
	text-transform: none;
}
.s2{
	-webkit-hyphens: none;
	color: #444444;
	font-family: "Baskerville";
	font-size: 343.7500%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s3{
	-webkit-hyphens: none;
	color: #444444;
	font-family: "Baskerville";
	font-size: 193.7500%;
	font-style: italic;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0100em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s4{
	-webkit-hyphens: none;
	color: #444444;
	font-family: "Baskerville";
	font-size: 150.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s5{
	-webkit-hyphens: none;
	break-after: page;
	color: #444444;
	font-family: "Baskerville";
	font-size: 150.0000%;
	font-style: italic;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	page-break-after: always;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s6{
	-webkit-hyphens: none;
	break-after: page;
	color: #444444;
	font-family: "Baskerville";
	font-size: 225.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	page-break-after: always;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s7{
	-webkit-hyphens: none;
	color: #444444;
	font-family: "Baskerville";
	font-size: 225.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s8{
	-webkit-hyphens: none;
	color: #444444;
	font-family: "Baskerville";
	font-size: 75.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 1.2821%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s9{
	-webkit-hyphens: none;
	color: #444444;
	font-family: "Baskerville";
	font-size: 112.5000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s10{
	-webkit-hyphens: none;
	break-after: page;
	color: #444444;
	font-family: "Baskerville";
	font-size: 75.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 1.2821%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	page-break-after: always;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s11{
	-webkit-hyphens: none;
	color: #444444;
	font-family: "Baskerville SemiBold";
	font-size: 112.5000%;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 1.7094%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s12{
	-webkit-hyphens: none;
	color: #444444;
	font-family: "Baskerville";
	font-size: 150.0000%;
	font-style: italic;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 1.7094%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s13{
	-webkit-hyphens: none;
	color: #444444;
	font-family: "Baskerville";
	font-size: 112.5000%;
	font-style: italic;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s14{
	-webkit-hyphens: none;
	color: #444444;
	font-family: "Baskerville";
	font-size: 75.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.8547%;
	margin-top: 0.0000%;
	padding-left: 11.5385%;
	padding-right: 11.5385%;
	text-align: left;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s15{
	text-align: center;
}
.s16{
	-webkit-hyphens: none;
	color: #5B5854;
	font-family: "Baskerville";
	font-size: 87.5000%;
	font-style: italic;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	margin-bottom: 0.0000%;
	margin-top: 0.0000%;
	padding-left: 0.0000%;
	padding-right: 0.0000%;
	text-align: center;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s17{
	-webkit-hyphens: none;
	color: #444444;
	font-family: "Baskerville";
	font-size: 125%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
.s18{
	-webkit-hyphens: none;
	color: #444444;
	font-family: "Baskerville";
	font-size: 100%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	text-decoration: none;
	text-indent: 0.0000%;
	text-transform: none;
}
